https://storage.cloud.google.com/dakami-canyouhearme-no/tf_nightly-2.1.0-cp37-cp37m-linux_x86_64.whl
https://storage.cloud.google.com/dakami-canyouhearme-no/tflite_runtime-2.1.0-cp37-cp37m-linux_x86_64.whl
